<!--<link rel="stylesheet" href="/bitrix/modules/dev2fun.stripepayment/sale_payment/stripe/style.css?v1.10" type="text/css">-->
<!--<script src="/bitrix/modules/dev2fun.stripepayment/sale_payment/stripe/js/jquery.inputmask.bundle.min.js"></script>-->

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
	// const stripeFormLabels = {
	// 	inputs: {number: 'Card Number', date: 'Date on which the credit card', cvc: 'CVC', button: 'PROCEED'},
	// 	emptyErrors: {number: 'Укажите номер', month: 'Укажите месяц', year: 'Укажите год', cvc: 'Укажите cvc'}
	// };
</script>
<div id="cardVue">
	<card-stripe
		:stripe-key="'pk_test_TYooMQauvdEDq54NiTphI7jx'"
		:form-action="'<?=$APPLICATION->GetCurDir();?>?ORDER_ID=<?=$orderID?>'"
		:labels="{
		inputs: {number: 'Card Number', date: 'Date on which the credit card', cvc: 'CVC', button: 'PROCEED'},
		emptyErrors: {number: 'Укажите номер', month: 'Укажите месяц', year: 'Укажите год', cvc: 'Укажите cvc'}
	}"
	>
	</card-stripe>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/dist/build.js"></script>